<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hohenheim.java.serviceplatform.account.db.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hohenheim.java.serviceplatform.account.db.entity.UserInfoEntity">
        <id column="user_id" property="userId" />
        <result column="tenant_id" property="tenantId" />
        <result column="pwd" property="pwd" />
        <result column="salt" property="salt" />
        <result column="user_name" property="userName" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="avatar" property="avatar" />
        <result column="sex" property="sex" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <resultMap id="JoinRoleResultMap" type="com.hohenheim.java.serviceplatform.account.db.entity.association.UserWithRoleEntity"
        extends="BaseResultMap">
        <association property="role"
                     resultMap="com.hohenheim.java.serviceplatform.account.db.mapper.RoleMapper.BaseResultMap"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, tenant_id, pwd, salt, user_name, email, mobile, avatar, sex, status, create_time, update_time
    </sql>

    <sql id="Alias_Column_List">
        ui.user_id, ui.tenant_id, ui.pwd, ui.salt, ui.user_name, ui.email, ui.mobile, ui.avatar, ui.sex, ui.status,
        ui.create_time, ui.update_time
    </sql>

    <select id="getUserWithRoleInfo" resultMap="JoinRoleResultMap">
        select
            <include refid="Alias_Column_List" />,
            <include refid="com.hohenheim.java.serviceplatform.account.db.mapper.RoleMapper.Alias_Column_List" />
        from
            user_info ui
        left join
            user_role ur on ui.user_id = ur.user_id
        left join
            role r on ur.role_id = r.role_id
        where
            ui.user_id = #{userId}
    </select>

</mapper>
