<?xml version="1.0" encoding="UTF-8"?>
<included>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <contextName>${HOSTNAME}</contextName>
    <conversionRule conversionWord="ip" converterClass="com.hohenheim.java.serviceplatform.core.web.conf.IpLogConfig" />

    <property name="appName" value="ServicePlatform" />
    <property name="LOG_PATH_INFO" value="/app/logs/prod/info" />
    <property name="LOG_PATH_ERROR" value="/app/logs/prod/error" />
    <property name="LOG_PREFIX" value="${appName}" />
	<property name="CONSOLE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [${ip}] [%highlight(%-5level)] [%blue(%thread)] [%green(%logger)] %yellow(%msg%n)" />

    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH_INFO}/${LOG_PREFIX}-info.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 每天一归档 -->
            <fileNamePattern>${LOG_PATH_INFO}/${LOG_PREFIX}-info-%d{yyyyMMdd}.%i.log</fileNamePattern>
            <!-- 单个日志文件最多100MB, 30天的日志周期，最大不能超过5、100GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100GB</totalSizeCap>
        </rollingPolicy>
		
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder" charset="utf-8">
            <providers>
                <timestamp>
                    <timeZone>GMT+8</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
						{
                            "ip": "${ip}",
                            "app": "${appName}",
                            "level": "%level",
                            "thread": "%thread",
                            "class": "%logger{40}",
                            "message": "%message"
                        }
                    </pattern>
				</pattern>
            </providers>
        </encoder>
    </appender>
	
	<appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH_ERROR}/${LOG_PREFIX}-error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH_ERROR}/${LOG_PREFIX}-error-%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100GB</totalSizeCap>
        </rollingPolicy>
		
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder" charset="utf-8">
            <providers>
                <timestamp>
                    <timeZone>GMT+8</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
						{
                            "ip": "${ip}",
                            "app": "${appName}",
                            "level": "%level",
                            "thread": "%thread",
                            "class": "%logger{40}",
                            "message": "%message",
                            "stack_trace": "%exception{10}"
                        }
                    </pattern>
				</pattern>
            </providers>
        </encoder>
    </appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
    </appender>
	
	<!-- 打印 Spring 信息 -->
    <logger name="org.springframework.*" level="WARN" addtivity="false" />
    <!-- 打印sql -->
    <logger name="com.*.*.mapper" level="WARN" addtivity="false" />
    <!-- druid信息 -->
    <logger name="druid.sql.*" level="WARN" addtivity="false" />
    <logger name="com.alibaba.druid.*" level="WARN" addtivity="false" />

    <!--myibatis log configure-->
    <logger name="com.apache.ibatis.*" level="INFO" addtivity="false" />
    <logger name="com.apache.ibatis.*" level="ERROR" />

    <logger name="java.sql.*" level="INFO" addtivity="false" />
    <logger name="java.sql.*" level="ERROR" />

    <!-- Quartz -->
    <logger name="org.quartz.*" level="WARN" addtivity="false"/>
    <!-- jetty -->
    <logger name="org.eclipse.jetty.*" level="ERROR" addtivity="false" />

    <!-- 工程日志 -->
    <logger name="com.java.gov.*" level="DEBUG">
        <appender-ref ref="INFO_LOG" />
    </logger>
	
	<root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR_LOG"/>
    </root>
</included>